<div ng-app="app">
  <div ng-controller="catsCtrl" ng-init="setup()">
    <h4>Total number of cats: {{ cats.length }}</h4>
    <div>
      <button ng-click="setOrderAttribute('name')">Order by name</button>
      <button ng-click="setOrderAttribute('bio')">Order by bio</button>
    </div>
    <input ng-model="nameFilter">
<br>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Breed</th>
    <th>Color</th>
    <th>Age Category</th>
  </tr>
<tr ng-repeat="cat in cats">
    <td>{{ cat.name }}</td>
    <td>{{ cat.breed }}</td>
    <td>{{ cat.color }}</td>
    <td>{{ cat.age_category }}</td>
</tr>
</table>    
    <div ng-repeat="cat in cats | filter: {name: nameFilter} | orderBy:orderAttribute:isOrderDescending">
      <h3>name: {{ cat.name }}</h3>
      <p>breed:{{ cat.breed }}</p>
      <p>color: {{ cat.color }}</p>
      <p>age: {{ cat.age_category }}</p>
      <br>
    </div>
    <h2>Add a cat</h2>
    <div>
      Name: <input ng-model="newCatName">
      Breed: <input ng-model="newCatBreed">
      Color: <input ng-model="newCatColor">
      Age: <input ng-model="newCatAge">
      <button ng-click="addCat(newCatName, newCatBreed, newCatColor, newCatAge)">Add cat</button>
    </div>

  </div>
</div>

